.Home{
background-color: #9df9ef(77, 241, 13);
text-align: center;
 font-family: 'Roboto', sans-serif;
 
}

.nav{
display: flex;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 15px;
}

.nav:hover{
  color:#3a4660;
  cursor: pointer;

}

.main{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  top:20px;
}
.text {
 font-size: 13px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 10px;
}



.search-box {
  position: relative;
  width: 250px;
  left:550px;
  bottom:64px;
}

.search-box input {
  width: 100%;
  padding: 8px 35px 8px 10px;
    border-radius: 20px;

}

.search-box .icon {
  position: absolute;
  right: 10px;
  top: 9px;
  width: 14px;
  height: 14px;
  border: 2px solid black;
  border-radius: 50%;
}

.search-box .icon::after {
  content: "";
  width: 7px;
  height: 2px;
  background: black;
  position: absolute;
  right: -5px;
  bottom: -2px;
  transform: rotate(45deg);
}


.card{
  display: flex;
  gap:40px;
  border-radius: 2px;
   box-shadow: 0 4px 8px rgba(0.3, 0.2, 0.1, 0.5); 
  margin-top: 8px;
  width: 1200px;
  height: 400px;
  align-items: center;
  background-color: #e1b382;

}

.desc{
  padding:20px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #1f2937;
  position: relative;
  right:20px;
  
}

.shopping{
  width: 350px;;
  height: 400px;
  background-color: transparent;
  position: relative;
}

.btn{
  border-radius: 20px;
  padding:10px 20px;
  background-color:  #e1b382;
  border: solid 2px #12343b;
  color:#12343b;
  box-shadow: #6b7280;
  position: relative;
  top:60px;
  right:130px;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;

}

.btn:hover{
  background-color: #16a34a;
  cursor: pointer;
}




