
.promo{
    display:flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    justify-content: center;
    gap: 200px;
}

.promo1{
    border-radius: 40px;
    box-shadow: 30px 30px 60px rgba(0,0,0,0.3);
    height: 400px;
    width: 400px;
    background-color: #e1b382;;

}

.promo2{
     border-radius: 40px;
    box-shadow: 30px 30px 60px rgba(0,0,0,0.3);
    height: 400px;
    width: 400px;
    background-color: #e1b382;


}

.promo3{
     border-radius: 40px;
    box-shadow: 30px 30px 60px rgba(0,0,0,0.3);
    height: 400px;
    width: 400px;
    background-color: #e1b382;


}

.promo4{
     border-radius: 40px;
    box-shadow: 30px 30px 60px rgba(0,0,0,0.3);
    height: 400px;
    width: 400px;
    background-color: #e1b382;


}

.promo5{
     border-radius: 40px;
    box-shadow: 30px 30px 60px rgba(0,0,0,0.3);
    height: 400px;
    width: 400px;
    background-color: #e1b382;

}


.image{
    height: 300px;
    width: 300px;
    border-radius: 40px; 
    
}

.product{
    display: flex;
    justify-content: space-between;
}

.product-desc{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.price{
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
.addbtn{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.addbtn:hover{
    background-color: #45a049;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.nav-btn {
  text-decoration: none;
  padding: 6px 14px;
  background: #ff6b2c;
  color: white;
  border-radius: 6px;
  font-size: 14px;
}
