.main{
    font-family: Arial, sans-serif;
     margin-top: 25px;
    padding: 20px; 
    background-color: blue;
    width: 100%;
    height: 35px;
}


a{
    color: white;
    text-decoration: none;
}

a:hover{
    
    color:brown;
}



h3{
    color: white;


}

button{
    background-color: white;
    color: black;
    border-radius: 9px;
    padding: 5px 5px;
    position: relative;
    top: 1px;
    border: none;
    left:2px;
    cursor: pointer;
    height: 21px;
}
button:hover{
    background-color: lightgray;
}

.top{
    position: relative;
    left:265px;
    bottom:40px
}

h1{
    text-align: center;
}

.centre-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
p{
  text-align: center;



}