@keyframes MoveRight {
    0% {
        transform: translateY(100px);
    }

50%{
width: 150px;
height: 150px;

}

    100% {
        transform: translateX(300px);
    }
}

@keyframes MoveLeft {
  0%{
transform: translateZ(100px);
width: 100px;
height: 100px;
  }

  100%{
transform: translateX(300px);
width: 200px;
height: 200px;
  }
}

@keyframes growBox {
0%{
    width: 100px;
    height: 100px;
}
100%{
    width: 200px;
    height: 200px;
}
}

    .a {
        font-size: 20px;
        color: white;
        background-color: #4a349c;
        width: 100px;
        height: 100px;
        position: relative;
        text-align: center;
        line-height: 100px;
        left:40px;
        margin-top: 30px;
        animation-name: MoveRight;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .b{
        font-size: 20px;
        color: white;
        background-color: black;
        width: 100px;
        height: 100px;
        position: relative;
        text-align: center;
        line-height: 100px;
        left:40px;
        margin-top: 30px;
        right: 700px;
        bottom: 0px;
        animation-name: MoveLeft;
        animation-duration: 2s;
        animation-iteration-count: infinite;

    }

    .c{
        font-size: 20px;
        color: white;
        background-color: red;
        width: 100px;
        height: 100px;
        position: relative;
        text-align: center;
        line-height: 100px;
        left:40px;
        top:0px;
        margin-top: 50px;
        bottom: 1000px;
        animation-name:growBox;
        animation-duration: 1s;
        animation-iteration-count: infinite;

    }

    .d{
        font-size: 20px;
        color: white;
        background-color: green;
        width: 100px;
        height: 100px;
        position: relative;
        text-align: center;
        line-height: 100px;
        left:40px;
        top:0px;
        margin-top: 50px;
        bottom: 1000px;    

    }

    .e{
        font-size: 15px;
        color: black;
          width: 90px;
          height: 90px;
             animation-name: MoveRight;
                animation-duration: 2s;
                animation-iteration-count: infinite;
    }

    @keyframes MoveRight {
        0% {
            transform: translateY(30px);
            transform: rotate(0deg);
        }
        50% {
            transform: translateX(20px);
            transform: rotate(180deg);
        }
        100% {
            transform: translateZ(100px);
            transform: rotate(360deg);
        }
    }
    
    .heart {
        font-size: 100px;
        color: red;
        position: relative;
        left:300px;
        animation-name: HeartBeat;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes HeartBeat {
        0% {
            transform: initial-scale(1);
            width: 100px;
            height: 100px;
        }
        50% {
            transform: scale(1.5);
            width: 100px;
            height: 100px;
        }
        100% {
            transform: scale(1);
            width: 100px;
            height: 100px;
        }
    }
    


